.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin: 5em;
}

.loading{

  height: 10vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .loading {
    animation: loading-spin infinite 20s linear;
  }
}

@keyframes loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}